---
import Layout from '../layouts/Layout.astro';

// Define sources by category
const sourcesByCategory = {
  'Major International Sources': [
    { name: 'Bloomberg Markets', url: 'https://feeds.bloomberg.com/markets/news.rss' },
    { name: 'Bloomberg Economics', url: 'https://feeds.bloomberg.com/economics/news.rss' },
    { name: 'Financial Times Markets', url: 'https://www.ft.com/markets?format=rss' },
    { name: 'FT Economics', url: 'https://www.ft.com/global-economy?format=rss' },
    { name: 'FT Technology', url: 'https://www.ft.com/technology?format=rss' },
    { name: 'Reuters', url: 'https://www.reuters.com/arc/outboundfeeds/rss/?outputType=xml' },
    { name: 'Rest of World', url: 'https://restofworld.org/feed/latest/' },
    { name: 'BBC Business', url: 'https://feeds.bbci.co.uk/news/business/rss.xml' },
    { name: 'Nikkei Asia', url: 'https://asia.nikkei.com/rss/feed/nar' },
    { name: 'Handelsblatt', url: 'https://www.handelsblatt.com/contentexport/feed/schlagzeilen' },
    { name: 'Wall Street Journal Markets', url: 'https://feeds.a.dj.com/rss/RSSMarketsMain.xml' },
    { name: 'WSJ Economy', url: 'https://feeds.a.dj.com/rss/RSSWorldNews.xml' },
    { name: 'The Economist Finance', url: 'https://www.economist.com/finance-and-economics/rss.xml' },
    { name: 'Economist Business', url: 'https://www.economist.com/business/rss.xml' },
    { name: 'CNBC Markets', url: 'https://www.cnbc.com/id/10000664/device/rss/rss.html' },
    { name: 'CNBC Economy', url: 'https://www.cnbc.com/id/20910258/device/rss/rss.html' },
  ],
  
  'Indian Financial Sources': [
    { name: 'Economic Times Markets', url: 'https://economictimes.indiatimes.com/markets/rssfeeds/1977021501.cms' },
    { name: 'Hindu BusinessLine', url: 'https://www.thehindubusinessline.com/markets/?service=rss' },
  ],
  
  'Central Banks & Policy': [
    { name: 'Federal Reserve', url: 'https://www.federalreserve.gov/feeds/press_all.xml' },
    { name: 'European Central Bank', url: 'https://www.ecb.europa.eu/rss/press.html' },
  ],
  
  'Academic Research & Think Tanks': [
    { name: 'IMF News', url: 'https://www.imf.org/en/News/RSS' },
    { name: 'IMF Publications', url: 'https://www.imf.org/en/Publications/RSS?language=eng' },
    { name: 'IMF Staff Country Reports', url: 'https://www.imf.org/en/Publications/RSS?language=eng&series=IMF%20Staff%20Country%20Reports' },
    { name: 'IMF Staff Discussion Notes', url: 'https://www.imf.org/en/Publications/RSS?language=eng&series=Staff%20Discussion%20Notes' },
    { name: 'IMF News Special', url: 'https://www.imf.org/en/News/RSS?TemplateID=%7B2FA3421A-F179-46B6-B8D9-5C65CB4A6584%7D' },
    { name: 'BIS Papers', url: 'https://www.bis.org/doclist/rss_all_categories.rss' },
    { name: 'CEPR Discussion Papers', url: 'https://cepr.org/rss/discussion-paper' },
    { name: 'CEPR News', url: 'https://cepr.org/rss/news' },
    { name: 'Federal Reserve Working Papers', url: 'https://www.federalreserve.gov/feeds/working_papers.xml' },
    { name: 'CFA Enterprising Investor', url: 'https://blogs.cfainstitute.org/investor/feed/' },
    { name: 'CFA Inside Investing', url: 'https://blogs.cfainstitute.org/insideinvesting/feed/' },
    { name: 'Financial Analysts Journal', url: 'https://www.tandfonline.com/feed/rss/ufaj20' },
    { name: 'Brookings Economic Studies', url: 'https://www.brookings.edu/feed/?post_type=research&programs_projects=economic-studies' },
  ],
  
  'Economics Blogs & Commentary': [
    { name: 'Marginal Revolution', url: 'https://marginalrevolution.com/feed' },
    { name: 'Calculated Risk', url: 'https://www.calculatedriskblog.com/feeds/posts/default' },
    { name: 'Econbrowser', url: 'https://econbrowser.com/feed' },
    { name: 'Construction Physics', url: 'https://www.construction-physics.com/feed' },
  ],
  
  'Premium Finance Substacks': [
    { name: 'Noah Smith (Noahpinion)', url: 'https://noahpinion.substack.com/feed' },
    { name: 'Dave Nadig', url: 'https://davenadig.substack.com/feed' },
    { name: 'Matt Levine Money Stuff', url: 'https://www.bloomberg.com/opinion/authors/ARbTQlRLRjE/matthew-s-levine.rss' },
    { name: 'Net Interest (Marc Rubinstein)', url: 'https://netinterest.substack.com/feed' },
    { name: 'Doomberg', url: 'https://doomberg.substack.com/feed' },
    { name: 'The Macro Compass', url: 'https://themacrocompass.substack.com/feed' },
    { name: 'Liberty Highlights', url: 'https://libertyrpf.substack.com/feed' },
    { name: 'Investing City', url: 'https://investingcity.substack.com/feed' },
  ],
  
  'Business & Markets Media': [
    { name: 'Seeking Alpha', url: 'https://seekingalpha.com/feed.xml' },
    { name: 'MarketWatch', url: 'https://feeds.marketwatch.com/marketwatch/topstories' },
    { name: 'Investing.com', url: 'https://www.investing.com/rss/news.rss' },
    { name: 'Barrons', url: 'https://feeds.a.dj.com/rss/RSSOpinion.xml' },
    { name: 'ZeroHedge', url: 'https://feeds.feedburner.com/zerohedge/feed' },
    { name: 'Yahoo Finance', url: 'https://finance.yahoo.com/news/rssindex' },
    { name: 'Business Insider', url: 'https://feeds.businessinsider.com/custom/all' },
    { name: 'Fortune', url: 'https://fortune.com/feed/' },
  ],
  
  'Asian Markets': [
    { name: 'SCMP Business', url: 'https://www.scmp.com/rss/91/feed' },
  ],
  
  'Specialized Research': [
    { name: 'OilPrice.com', url: 'https://oilprice.com/rss/main' },
    { name: 'ESG Today', url: 'https://www.esgtoday.com/feed/' },
    { name: 'The Acquirer Multiple', url: 'https://acquirersmultiple.com/feed/' },
  ],
  
  'Technology & Innovation': [
    { name: 'Techmeme', url: 'https://www.techmeme.com/feed.xml' },
    { name: 'The Verge', url: 'https://www.theverge.com/rss/index.xml' },
    { name: 'Wired', url: 'https://www.wired.com/feed/rss' },
    { name: 'Stratechery', url: 'https://stratechery.com/feed/' },
    { name: 'SemiAnalysis', url: 'https://www.semianalysis.com/feed' },
  ],
  
  'Exchange Filings & Regulatory': [
    { name: 'SEC Press Releases', url: 'https://www.sec.gov/news/pressreleases.rss' },
    { name: 'BSE Notices', url: 'https://www.bseindia.com/data/xml/notices.xml' },
    { name: 'NSE Announcements', url: 'https://nsearchives.nseindia.com/content/RSS/Online_announcements.xml' },
  ],
  
  'Aggregators & Curated Feeds': [
    { name: 'Abnormal Returns', url: 'https://abnormalreturns.com/feed/' },
    { name: 'Weekend Reads', url: 'https://weekendreads.substack.com/feed' },
  ],
  
  'Premium Newsletters & Analysis': [
    { name: 'Larry Swedroe', url: 'https://larryswedroe.substack.com/feed' },
    { name: 'Dave Nadig (ETF)', url: 'https://www.nadig.com/feed' },
    { name: 'Adam Tooze', url: 'https://adamtooze.substack.com/feed' },
    { name: 'Brad DeLong', url: 'https://braddelong.substack.com/feed' },
    { name: 'Venkatesh Rao', url: 'https://contraptions.venkateshrao.com/feed' },
    { name: 'The Chip Letter', url: 'https://thechipletter.substack.com/feed' },
    { name: 'ChinaTalk', url: 'https://www.chinatalk.media/feed' },
    { name: 'Dwarkesh Podcast', url: 'https://www.dwarkesh.com/feed' },
    { name: 'Viks Newsletter', url: 'https://www.viksnewsletter.com/feed' },
    { name: 'Gary Marcus', url: 'https://garymarcus.substack.com/feed' },
    { name: 'Platformer', url: 'https://www.platformer.news/rss/' },
    { name: 'The Zvi', url: 'https://thezvi.substack.com/feed' },
    { name: 'Paul Krugman', url: 'https://paulkrugman.substack.com/feed' },
    { name: 'Apricitas Economics', url: 'http://www.apricitas.io/feed' },
    { name: 'Commodity Context', url: 'https://www.commoditycontext.com/feed' },
    { name: 'Kyla Scanlon', url: 'https://kyla.substack.com/feed' },
    { name: 'Moontower Meta', url: 'https://moontower.substack.com/feed' },
    { name: 'Best of Econ Twitter', url: 'https://www.bestofecontwitter.com/feed' },
    { name: 'Grumpy Economist', url: 'https://www.grumpy-economist.com/feed' },
  ],
  
  'Non-Money Feeds & General Interest': [
    { name: 'Gaby Delvalle', url: 'https://gabydelvalle.substack.com/feed' },
    { name: 'The Way of Work', url: 'https://newsletter.thewayofwork.com/feed' },
    { name: 'Benthams', url: 'https://benthams.substack.com/feed' },
    { name: 'The Leading Edge', url: 'https://newsletter.theleading-edge.org/feed' },
    { name: 'Astral Codex Ten', url: 'https://www.astralcodexten.com/feed' },
    { name: 'Freddie deBoer', url: 'https://freddiedeboer.substack.com/feed' },
    { name: 'Res Obscura', url: 'https://resobscura.substack.com/feed' },
    { name: 'Nicholas Decker', url: 'https://nicholasdecker.substack.com/feed' },
    { name: 'Max Read', url: 'https://maxread.substack.com/feed' },
    { name: 'Henrik Karlsson', url: 'https://www.henrikkarlsson.xyz/feed' },
    { name: 'Visakan Veerasamy', url: 'https://visakanv.substack.com/feed' },
    { name: 'Simon Sarris', url: 'https://map.simonsarris.com/feed' },
    { name: 'AI Log Blog', url: 'https://ailogblog.substack.com/feed' },
    { name: 'The Unhappy Man', url: 'https://theunhappyman.substack.com/feed' },
    { name: 'Experimental History', url: 'https://www.experimental-history.com/feed' },
    { name: 'Age of Invention', url: 'https://www.ageofinvention.xyz/feed' },
    { name: 'Not Boring', url: 'https://www.notboring.co/feed' },
    { name: 'Roots of Progress', url: 'https://newsletter.rootsofprogress.org/feed' },
    { name: 'Nate Silver', url: 'https://www.natesilver.net/feed' },
    { name: 'Public Policy', url: 'https://publicpolicy.substack.com/feed' },
    { name: 'Branko Milanovic', url: 'https://branko2f7.substack.com/feed' },
    { name: 'Aeon', url: 'https://aeon.co/feed.rss' },
    { name: 'Psyche', url: 'https://psyche.co/feed.rss' },
    { name: 'Common Reader', url: 'https://www.commonreader.co.uk/feed' },
    { name: 'Summer of Protocols', url: 'https://protocolized.summerofprotocols.com/feed' },
    { name: 'Nautilus', url: 'https://nautil.us/feed/?_sp=b0840929-e993-4908-b182-0a086cc42588.1739703703525' },
    { name: 'Noema', url: 'https://www.noemamag.com/?feed=noemarss' },
    { name: 'n+1', url: 'https://www.nplusonemag.com/feed/' },
    { name: 'Quanta Magazine', url: 'https://www.quantamagazine.org/feed/' },
    { name: 'Programmable Mutter', url: 'https://www.programmablemutter.com/feed' },
    { name: 'Back of Mind', url: 'https://backofmind.substack.com/feed' },
    { name: 'Marginal Revolution', url: 'https://marginalrevolution.com/feed' },
    { name: 'Dave Karpf', url: 'https://davekarpf.substack.com/feed' },
    { name: 'Woman of Letters', url: 'https://www.woman-of-letters.com/feed' },
    { name: 'School of the Unconformed', url: 'https://schooloftheunconformed.substack.com/feed' },
    { name: 'The Honest Broker', url: 'https://www.honest-broker.com/feed' },
    { name: 'Works in Progress', url: 'https://www.worksinprogress.news/feed' },
    { name: 'Construction Physics', url: 'https://www.construction-physics.com/feed' },
    { name: 'Rotten and Good', url: 'https://rottenandgood.substack.com/feed' },
    { name: 'Over the Field', url: 'https://overthefield.substack.com/feed' },
    { name: 'Nils Gilman', url: 'https://nilsgilman.substack.com/feed' },
    { name: 'Pens and Poison', url: 'https://www.pensandpoison.org/feed' },
    { name: 'Noah Smith', url: 'https://www.noahpinion.blog/feed' },
    { name: 'Jacobin', url: 'https://jacobin.com/feed/' },
    { name: 'New Left Review', url: 'https://newleftreview.org/feed' },
    { name: 'Small Potatoes', url: 'https://smallpotatoes.paulbloom.net/feed' },
    { name: 'Shruti Rajagopalan', url: 'https://srajagopalan.substack.com/feed' },
    { name: 'Rohan Venkat', url: 'https://rohanvenkat.substack.com/feed' },
    { name: 'Africanist Perspective', url: 'https://www.africanistperspective.com/feed' },
    { name: 'Sustainability by Numbers', url: 'https://www.sustainabilitybynumbers.com/feed' },
  ]
};
---

<Layout title="RSS Sources - Markets Feeds" description="Complete directory of RSS feeds aggregated by Markets Feeds">
  <main class="min-h-screen bg-background text-text">
    <div class="container mx-auto px-4 py-8">
      <!-- Header -->
      <header class="text-center mb-12">
        <h1 class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">
          RSS Sources Directory
        </h1>
        <p class="text-lg text-text/80 max-w-2xl mx-auto">
          Complete directory of premium financial RSS feeds curated by Markets Feeds. 
          All sources are actively monitored and validated for reliability.
        </p>
        <div class="mt-6">
          <a 
            href="/" 
            class="inline-flex items-center px-4 py-2 bg-primary/10 hover:bg-primary/20 text-primary rounded-lg transition-colors"
          >
            ← Back to Feed
          </a>
        </div>
      </header>

      <!-- Sources by Category -->
      <div class="space-y-12">
        {Object.entries(sourcesByCategory).map(([category, sources]) => (
          <section class="bg-card rounded-xl p-6 border border-border">
            <h2 class="text-2xl font-semibold mb-6 text-primary border-b border-border pb-2">
              {category}
            </h2>
            <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
              {sources.map((source) => (
                <div class="bg-background rounded-lg p-4 border border-border hover:border-primary/50 transition-colors group">
                  <h3 class="font-medium text-text group-hover:text-primary transition-colors mb-2">
                    {source.name}
                  </h3>
                  <div class="flex items-center space-x-2">
                    <a 
                      href={source.url} 
                      target="_blank" 
                      rel="noopener noreferrer"
                      class="text-sm text-text/60 hover:text-primary transition-colors flex items-center space-x-1 truncate"
                    >
                      <svg class="w-4 h-4 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5z" clip-rule="evenodd" />
                        <path fill-rule="evenodd" d="M7.414 15.414a2 2 0 01-2.828-2.828l3-3a2 2 0 012.828 0 1 1 0 001.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5z" clip-rule="evenodd" />
                      </svg>
                      <span class="truncate">RSS Feed</span>
                    </a>
                  </div>
                </div>
              ))}
            </div>
          </section>
        ))}
      </div>

      <!-- Statistics -->
      <section class="mt-12 text-center">
        <div class="bg-card rounded-xl p-8 border border-border">
          <h2 class="text-2xl font-semibold mb-4 text-primary">Feed Statistics</h2>
          <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            <div>
              <div class="text-3xl font-bold text-primary">
                {Object.values(sourcesByCategory).reduce((acc, sources) => acc + sources.length, 0)}
              </div>
              <div class="text-sm text-text/60">Total Sources</div>
            </div>
            <div>
              <div class="text-3xl font-bold text-secondary">
                {Object.keys(sourcesByCategory).length}
              </div>
              <div class="text-sm text-text/60">Categories</div>
            </div>
            <div>
              <div class="text-3xl font-bold text-accent">5</div>
              <div class="text-sm text-text/60">Updates Daily</div>
            </div>
            <div>
              <div class="text-3xl font-bold text-primary">24/7</div>
              <div class="text-sm text-text/60">Monitoring</div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer class="mt-12 text-center text-text/60">
        <p>
          All RSS feeds are automatically validated and monitored for uptime and content quality.
          <br>
          Last updated: {new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
        </p>
      </footer>
    </div>
  </main>
</Layout>

<style>
  .container {
    max-width: 1200px;
  }
</style>